input {
  display: none;
  height: 20px;
  position: absolute;
  width: 12px;
  height: 12px;
  overflow: hidden;
}

input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;

  &:before {
    &:nth-child(1) {
      margin-right: 0px;
    }
    content: " ";
    display: inline-block;
    margin: 0 10px 0px;
    width: 12px; /* 체크박스의 너비를 지정 */
    height: 12px; /* 체크박스의 높이를 지정 */
    line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
    text-align: center;
    border: 1px solid #ddd;
  }
}

input[type="checkbox"]:checked + label:before {
  border: 1px solid #006633;
  content: "f00c";
}

label {
  position: relative;
}
